
/*Fonts*/
@include font-face('Proxima_nova_regular', 'mark_simonson_-_proxima_nova_alt_regular-webfont', 'ProximaNova', 'serif');
@include font-face('Proxima_nova_bold', 'mark_simonson_-_proxima_nova_alt_bold-webfont', 'ProximaNova', 'serif');
@include font-face('Proxima_nova_condensed_light', 'mark_simonson_-_proxima_nova_alt_condensed_light-webfont', 'ProximaNova', 'serif');
@include font-face('Proxima_nova_light', 'proximanova-light-webfont', 'ProximaNova', 'serif');


/*General*/
*  {box-sizing: border-box;@include font-weight-light; list-style: none; outline:none}

html, body {
    height: 100%;
    max-height:100%;
}
body {background-color: #fff;
	margin: $marginNull;
 	padding: $paddingNull !important;
 	font-family: $fuente-principal;
 	box-sizing: border-box;
 	font-size: 100%;
 	  -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
    overflow-x:hidden; 
 	
	}
h1 { font-family:$fuente-titulos;
	@include font-weight-light;}
p { font-family:$fuente-principal;
	font-size: $size14px;
	color:$softGrey;
	 @include font-weight-normal;
	    line-height: 2.4rem;}
 img {
    width: 100%;
    height: auto;
}
a {  -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
text-decoration: none
	&:hover{ text-decoration: none}
	&:focus {outline:none; border:0 none}
}
hr {clear: both; margin-top: 0;
	border-bottom: 1px solid $greylight;}

 ul {list-style: none; padding: 0; margin: 0}
table {    table-layout: fixed;}
textarea{ border: 1px solid $greylight;}
.btn:focus, .btn:active:focus, .btn.active:focus { outline:none}

h3.sub-title {color:$azulStorable; margin-top: 0}

/*Margins paddings classes*/
.nopadding { padding: 0 !important};
.nomargin { margin: 0 !important};
.col-centered{
    float: none;
    margin: 0 auto;
}
.long {width: 100% !important}
.maring80 {margin-bottom: 80px}
.hr-min {margin-bottom: 20px !important}


/*FORMS*/

/*Placeholder styles*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $darkGrey !important;
  font-size: $size18px;
}
input::-moz-placeholder, textarea::-moz-placeholder  { /* Firefox 19+ */
  color: $darkGrey;
  font-size: $size18px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
  color: $darkGrey;
  font-size: $size18px;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
  color: $darkGrey;
  font-size: $size18px;
}
.ui.selection.dropdown{ width:100%;
	border-radius:0;
   padding: 1.5em 2.1em 1.5em 1em !important;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}

.ui.dropdown .menu > .item {font-size: $size14px !important;}
  .ui.selection.dropdown > .search.icon, .ui.selection.dropdown > .delete.icon, .ui.selection.dropdown > .dropdown.icon
  {	top: 35% !important;}
 .ui.dropdown > .dropdown.icon:before {background: url(../images/flecha.svg) no-repeat 0 0 !important;
    width: 12px;
    height: 12px;
    display: block;
    content: "" !important;}
.ui.checkbox input[type="checkbox"], .ui.checkbox input[type="radio"] 
	{margin-left: 0;
	    width: 24px !important;
    height: 24px !important;}
 .ui.checkbox input[checked="checked"] + label,  .ui.checkbox input[checked] + label {color:$darkGrey !important;}
.ui.checkbox .box, .ui.checkbox label {    padding-left: 34px!important;}
.ui.checkbox .box, .ui.checkbox label  span {padding:0 20px}
.ui.checkbox .box:before, .ui.checkbox label:before {width: 24px !important;
    height: 24px !important;}
.ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after {
	content: "\f0c8" !important;
	    font-family: 'FontAwesome' !important; 
	    color:$menta !important;

}
.ui.radio input:checked ~ .box:after, .ui.radio input:checked ~ label:after {
	content: "\f0c8" !important;
    font-family: 'FontAwesome' !important; 	    
    background-color: $menta !important;
    width: 31px !important;
    height: 31px !important;
    top: -2px !important;
    left: -3px !important;

}
.footnote { display: inline-block; clear:both; width: 100%; font-style: normal; text-align: center; font-size: $size14px; color:$softGrey; }

.ui.checkbox .box:after, .ui.checkbox label:after {    top: 4px !important;
    left: 4px !important;
        font-size: 17px !important;
}
.ui.checkbox input:checked ~ .box:before, .ui.checkbox input:checked ~ label:before {
    background: #FFFFFF;
    border-color: $menta !important;
     
}
.ui.checkbox .box, .ui.checkbox label {    padding-top: 3px;}
.form-control{border-radius:0}
.form-control:focus {box-shadow: none}


/*Button*/

.btn  { 
 
	font-family: $fuente-botones; 
	@include font-weight-light;
   }

.btn-primary {
	@include btnStorableMain ($menta,$menta,#fff); 

	   
} 
.btn-primary:focus, .btn-primary:hover {
	@include btnStorableMain($darkmenta, $darkmenta, #fff);
	font-size: $size18px;
	    padding: 10px 54px;

}
.btn-info {
	@include btnStorableMain ($azulStorable,$azulStorable,#fff); 
	font-size: $size18px;
	color:#fff !important
	    
} 
.btn-danger {
	color:#fff !important;
	@include btnStorableMain ($alert,$alert,#fff); 	    
} 
/*Disabled*/
.btn-primary[disabled], .disabled {opacity: 0.3 !important; cursor: default }
.btn-primary.disabled { background: $menta; border-color: $menta;}

/*Divitons*/
.line {
	border-right: solid 1px #e6e6e6;
}
.highlight {background: $highlight}


.estacion{
	@include imagenFondo('../img/imagen03.jpg', 200px);
}


/*Elements*/
.clear { clear: both;}
.positionRelative { position: relative}
.divider {
    height:50px;
}
.link-main {
	color: $menta;
	cursor: pointer;
	font-family: $fuente-botones;
	@include font-weight-light;
	&:hover {
		text-decoration: none
	}
}
.spacer-aside {height: 73px}
.short-margin {margin-bottom:40px !important;}
.margin20 {margin-bottom:20px !important;}
.margin30 {margin-bottom:30px !important;}
.form-group {overflow: hidden; clear: both}
.modal-body .form-group {overflow: visible; clear: both}
h1.title-section {  color:#fff;
font-family: $fuente-label}
h4.subtitle-section {font-family: $fuente-titulos;
	
}
/*Stars*/
.star-container{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.star-full { background: url(../images/menta-star.svg) no-repeat 0 0}
.star-empty { background: url(../images/grey-star.svg) no-repeat 0 0}






/*Redes sociales*/
a.selected svg .list, a.selected  svg .places,
a svg:hover #facebook, a svg:hover .list, a svg:hover .places,
a svg:hover #instagram,  svg:hover #twitter { 
  fill: $azulStorable;
}
a svg #facebook, a svg #twitter,
a svg #instagram { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}






/*Animation Parallax*/
.animation-element {
  opacity: 0;
  position: relative;
}
	/*animation element sliding left*/

	.animation-element.slide-left {
	  opacity: 0;
	  -moz-transition: all 0.6s linear;
	  -webkit-transition: all 0.6s linear;
	  -o-transition: all 0.6s linear;
	  transition: all 0.6s linear;
	  -moz-transform: translate3d(0px, 70px, 0px);
	  -webkit-transform: translate3d(0px, 70px, 0px);
	  -o-transform: translate(-0px, 70px);
	  -ms-transform: translate(0px, 70px);
	  transform: translate3d(0px, 70px, 0px);
	}
  	.animation-element.slide-left.element {
 	width: auto;
 	opacity: 1;
 	@include font-weight-bold();
	position: absolute;
    color:$highlight;
 	font-family: $fuente-titulos;
    font-weight: 800;
	    z-index: -1;
	}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*animation slide left styled for testimonials*/



.rangeslider,
.rangeslider__fill {
  transition: background 0.3s;
}

.rangeslider--is-lowest-value {
  background-color: white;
}

.rangeslider--is-highest-value .rangeslider__fill {
  background-color: hotpink;
}

.pic-profile, .pic-profile:focus {
	  display: block;
	  background-color: $greylight !important;
		@include font-weight-normal;
	  color: $softGrey !important;
	  border-radius: 90px !important;
	  text-align: center;
	  font-family: $fuente-principal;
		}
.pic-profile:hover {opacity:0.9 !important;
		background-color: $greylight !important;
		}

/*Breadcrum*/
.breadcrumb  {background: none;font-size: $size14px;    padding: 8px 0 8px 0; }
.breadcrumb li a {color: $softGrey;font-size: $size14px }
.breadcrumb li a:hover {color: $azulStorable; text-decoration: none} 
.breadcrumb>.active {color: $azulStorable;}
.breadcrumb>li+li:before {
  
    color: $softGrey;
    content: "|";

}

/*Spots*/
.ui.menta.labels .label, .ui.menta.label {
    background-color: $menta !important;
    border-color: $menta !important;
    color: #FFFFFF !important;
}
.ui.red.labels .label, .ui.red.label {
    background-color: $alert !important;
    border-color: $alert !important;
    color: #FFFFFF !important;
}
.ui.shade.labels .label, .ui.shade.label {
    background-color: $greylight !important;
    border-color: $greylight !important;
    color: #FFFFFF !important;
}


/*Bar status*/
.bar-status {
	background: $menta;
	display: table;
	text-align: center;
	position: fixed;
	right: 0;
	left: 0;
	height: 70px;
	z-index: 1000;


	width: 100%;
	.bar-status-content{
		display: table-cell;
		vertical-align: middle;

	}
}
.bar-status-content a { background: url(../images/flecha-white-right.svg) no-repeat 90% 50% ;
	color: #fff;
	background-size: 8%;
	font-family: $fuente-botones;
	&:hover{
		text-decoration: none;
	}
}


